@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');


.card {
    background-color:rgb(182, 182, 182);
    font-family: Lato;
}
.card-footer, .card-header, .card-body {
    background-color:  rgb(158, 154, 154)!important;
    border-color: rgb(233, 192, 192)!important;
    border-width: 2px;
}


h5 {
    font-size: 100%;
    font-weight: 600;
}

.btnItem:hover{
    background-color: rgb(207, 159, 159)!important;
}

.btnItem {
    border-color:  rgb(233, 192, 192)!important;
    border-width: 2px;
    color:rgb(0, 0, 0);
    font-weight:400;
}
